*, *::after, *::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 25%;
  border-radius: 50%;
  margin: 50px 0;
}

button[data-modal-target] {
  background-color: #333;
  color: #fff;
  border: 0;
  padding: 1rem 1.5rem;
}

.modal {
  position: fixed;
  border: 1px solid #333;
  width: 500px;
  border-radius: 10px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform .3s;
  z-index: 999999;
}

/*active*/
.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #333;
}

.modal-close-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-body {
  padding: 15px 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  opacity: 0;
  pointer-events: none;
}